.App {
  text-align: center;
  font-size: calc(10px + 1vmin);
  color: #282929;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ff2828;
  min-height: 85vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-container {
  padding: 50px 7vw 0px 7vw;
  max-width: 100%;
}

@media (max-width: 700px) {
  .App-container {
    padding: 15px 15px 15px 15px;
  }
}
